*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
section{
  width: 90%;
}
.icons{
  background-color: #eee;
}
.icons i{
  padding: 10px;
  border-left:1px solid #fff ;
}

.icons i.active{
  background-color: #aaa;
}

.text{
  width: 100%;
  height: 300px;
  border: 1px solid ;
}
/* span{
width: 100%;
} */
span.bold{
  font-weight: bold;
}
span.italic {
  font-style: italic;
}
span.underline{
  text-decoration: underline;
}
span.strikethrough {
  text-decoration:line-through;
}
span.center {
  text-align: center;
}
span.left {
  text-align: left;
}
span.right {
  text-align: right;
}
span[contenteditable="true"]{
  border: none;
  outline: none;
}

input{
  padding: 5px 0px;
  background-color: #eee;
  border: none;
  outline: none;
  width: 5px;

}


